<div class="page-header">
    <div class="container">
        <h1><i class="fa fa-qrcode"></i> Bitcoin GO game</h1>
        <h2 class="tagline wrapit semi">
            <a target="_blank" class="gameAddress" href="https://live.blockcypher.com/btc-testnet/address/{{g.Game.currentGame.address.public}}/">{{g.Game.currentGame.address.public}}</a>
            {{g.Game.currentGame.address.payment | limitTo: 6}}
        </h2>
        <p ng-show="g.Game.currentGame.state == 'running'">Player
            <a target="_blank" class="playerOne" href="https://live.blockcypher.com/btc-testnet/address/{{g.Game.currentGame.players.one}}/">{{g.Game.currentGame.players.one}}</a>
            VS
            <a target="_blank" class="playerTwo" href="https://live.blockcypher.com/btc-testnet/address/{{g.Game.currentGame.players.two}}/">{{g.Game.currentGame.players.two || 'open'}}</a>
        </p>
        <p ng-show="g.Game.currentGame.address.value > 0">Value: {{g.Game.currentGame.address.value/100000000}} Bitcoin</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="tenuki-board tenuki-board-textured" data-include-coordinates="true"></div>
      </div>

      <div class="col-md-8 well controls" ng-show="g.Game.currentGame.players.one != null">
        <button class="btn btn-default" ng-show="g.Game.currentGame.state == 'open' && g.Game.currentGame.players.two == null && !g.wallet.isOwnAddress(g.Game.currentGame.players.one)" type="submit" data-ng-click="g.Game.joinGame()">Join</button>

        <div class="buttons">
          <button class="btn btn-default" ng-show="g.wallet.isOwnAddress(g.Game.currentGame.players.two) || g.wallet.isOwnAddress(g.Game.currentGame.players.one)" type="submit" data-ng-click="g.client.pass()">Pass</button>
        </div>

        <div class="game-info"><p></p></div>
        <div class="text-info"><p></p></div>
      </div>
    </div>

    <hr/>

    currentGame:
    {{g.Game.currentGame}}
</div>