.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    font-family:'helvetica', arial, sans-serif;
    background: #000;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.main-container {
    margin-top:50px;
    background: #fff;
    font-size:1.2em;
}

.page-header {
    padding:60px 0;
    font-size:1.2em;
    color: #fff;
    background: #371456 url(chain.svg) left center no-repeat;
    background: url(chain.svg) left center no-repeat,
    -moz-linear-gradient(top, rgb(121, 95, 0) 0%, rgb(225, 188, 106) 100%);
    background: url(chain.svg) left center no-repeat,
    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59218c), color-stop(100%, #371456));
    background: url(chain.svg) left center no-repeat,
    -webkit-linear-gradient(top, rgb(121, 95, 0) 0%, rgb(225, 188, 106) 100%);
    background: url(chain.svg) left center no-repeat,
    linear-gradient(to bottom, rgb(121, 95, 0) 0%, rgb(225, 188, 106) 100%);
}
.page-header .tagline {
    font-size: 1.2em;
    margin: 0;
}
.wrapit {
    word-wrap: break-word;
}
.semi {
    opacity: .7;
}